@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  /* header nav */
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding: 24px 0 16px;
    background: #fff;
    transition: .7s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .nav-list {
    flex-direction: column;
  }
  .nav-item{
    margin: 0px 0 16px;
  }
  .nav-toggle {
    font-size: 18px;
    cursor: pointer;
    color: #000;
    display: block;
  }
  .show-menu {
    top: 50px;
  }
  .fa-moon{
    margin-left: 0px;
  }
  /* banner */
  .banner {
    padding: 70px 20px 20px;
    margin-top: 20px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner div {
    width: 100%;
  }
  .detail h1 {
    font-size: 40px;
  }
  .detail p {
    line-height: 22px;
    margin: 12px 0 25px;
  }
  .btns,
  .social-links {
    justify-content: center;
    gap: 15px;
  }
  .btn,
  .btn-2 {
    font-size: 16px;
    padding: 13px 14px;
  }
  .social-links i {
    font-size: 20px;
  }
  .fa-linkedin-in,
  .fa-github {
    padding: 12px;
  }
  .images {
    margin-top: 30px;
  }
  /* about me */
  .section-gap {
    margin: 50px 0;
  }
  .about-me-section {
    padding-top: 20px;
  }
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .title p {
    font-size: 14px;
  }
  .title h2 {
    font-size: 33px;
    margin: 5px 0;
  }
  .about-me-contents {
    flex-direction: column-reverse;
  }
  .about-cards {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 40px;
  }
  .about-card {
    padding: 30px 40px;
  }
  .about-img img {
    width: 90%;
    margin-top: 30px;
    padding: 20px;
    margin-right: 0;
  }
  .about-card h2 {
    font-size: 22px;
  }
  .about-card i {
    background: linear-gradient(#04a2e5, #244f9e);
    font-size: 25px;
    color: #fff;
    padding: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  .about-section-para {
    text-align: justify;
  }

  /* experience-section */

  .items-content {
    flex-direction: column;
    gap: 40px;
  }
  .box {
    border: 2px solid #04a1e5da;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(#04a1e53f, #244f9eb4);
    padding: 40px 30px;
    box-shadow: inset 0 -3em 3em rgba(92, 121, 141, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em #04a1e5b2;
    transition: all 0.4s ease-in-out;
  }
  .sub-title {
    font-size: 25px;
  }
  .items {
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item h2 {
    font-size: 20px;
  }
  /* projects-section */
  .projects-section {
    padding: 0 20px;
  }
  .projects-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .project-card h2 {
    font-size: 20px;
  }
  /* hire-me-section */
  .hire-me-section {
    padding: 70px 20px;
  }
  .hire-para {
    text-align: justify;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 90%;
  }

  /* banner */
  .banner {
    margin-top: 0;
    padding: 40px 0;
    flex-direction: column;
    text-align: center;
  }
  .banner div {
    width: 100%;
  }
  .detail {
    text-align: center;
  }
  .detail h1 {
    font-size: 40px;
  }
  .detail p {
    line-height: 26px;
    margin: 12px 0 25px;
  }
  .btns,
  .social-links {
    justify-content: center;
    gap: 15px;
  }
  .images {
    margin-top: 70px;
  }
  .images img {
    width: 70%;
  }
  .girl {
    position: absolute;
    left: 15%;
    top: 30px;
    width: 80%;
  }
  /* about me */
  .section-gap {
    margin: 50px 0;
  }
  .about-me-section {
    padding-top: 20px;
  }

  .title p {
    font-size: 15px;
  }
  .title h2 {
    font-size: 35px;
    margin: 5px 0;
  }
  .about-me-contents {
    flex-direction: column;
  }
  .about-cards {
    gap: 40px;
    justify-content: center;
  }
  .about-card {
    padding: 30px 40px;
  }
  .about-img img {
    width: 90%;
    padding: 10px;
    margin-right: 0px;
  }
  .about-card h2 {
    font-size: 22px;
  }
  .about-card i {
    background: linear-gradient(#04a2e5, #244f9e);
    font-size: 25px;
    color: #fff;
    padding: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  .about-section-para {
    text-align: center;
  }
  /* experience-section */
  .experience-section {
    padding-top: 20px;
  }
  .items-content {
    gap: 30px;
  }
  .box {
    border: 2px solid #04a1e5da;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(#04a1e53f, #244f9eb4);
    padding: 40px 30px;
    box-shadow: inset 0 -3em 3em rgba(92, 121, 141, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em #04a1e5b2;
    transition: all 0.4s ease-in-out;
  }
  .sub-title {
    font-size: 25px;
  }
  .item h2 {
    font-size: 20px;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  /* projects-section */
  .projects-section {
    padding: 0 20px;
    padding-top: 20px;
  }
  .projects-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .project-card h2 {
    font-size: 20px;
  }
}
