* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
/* header */
/* nav */
header,
.hire-me-section {
  position: relative;
}
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.nav{
  height: 60px;
  padding: 0 20px;
}
nav, .nav-menu{
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.nav-item{
  margin-left: 50px;
}
.nav-link{
  color: #000;
  font-weight: 600;
  transition: .3s;
  font-size: 17px;
}
.nav-link:hover{
  background: linear-gradient(#04a2e5, #244f9e);
  color: transparent;
  -webkit-background-clip: text;
}
.fa-moon{
  color: #000;
  margin-left: 30px;
  font-size: 18px;
  cursor: pointer;
}
.nav-toggle {
  font-size: 21px;
  cursor: pointer;
  color: #000;
  display: none;
}
/* banner */
.banner {
  padding: 130px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner div {
  width: 50%;
}
.text-sm {
  font-size: 20px;
  font-weight: bold;
}
.detail h1 {
  font-size: 50px;
}
.detail p {
  line-height: 32px;
  margin: 12px 0 20px;
}
.detail a {
  text-decoration: none;
}
.btns a {
  color: #fff;
  display: inline-block;
}
.btns,
.social-links {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.btn,
.btn-2 {
  background: linear-gradient(#04a2e5, #6585c0);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 14px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px transparent;
  transition: all 0.6s ease-in-out;
}
.btn:hover a,
.btn-2 a {
  background: linear-gradient(#04a2e5, #244f9e);
  color: transparent;
  -webkit-background-clip: text;
}

.btn:hover {
  transform: translateY(5px);
  background: transparent;
  border: 1px solid #04a2e5;
  cursor: pointer;
}

.btn-2 {
  border: 1px solid #04a2e5;
  background: linear-gradient(#04a2e5, #244f9e);
  color: transparent;
  -webkit-background-clip: text;
  display: flex;
}
.btn-2:hover,
.social-links i:hover {
  transform: translateY(5px);
  cursor: pointer;
}
.gradient-text {
  background: linear-gradient(#04a2e5, #244f9e);
  color: transparent;
  -webkit-background-clip: text;
}
.social-links {
  margin-top: 20px;
}
.social-links i,
.about-card i {
  font-size: 25px;
  margin-right: 10px;
  transition: all 0.6s ease-in-out;
}
.fa-linkedin-in,
.fa-github {
  background: linear-gradient(#04a2e5, #244f9e);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
}

.images {
  position: relative;
}
.images img {
  width: 90%;
}
.shape {
  position: relative;
}
.girl {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
}
.images img {
  animation: rasing 4s ease-in-out infinite;
  animation-delay: 2s;
}
@keyframes rasing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* about me */
.section-gap {
  margin-top: 100px;
}
.about-me-section {
  padding: 0 20px;
}
.title {
  text-align: center;
  margin-bottom: 40px;
}
.title p {
  font-size: 17px;
}
.title h2 {
  font-size: 40px;
  margin: 5px 0;
}
.about-img img {
  background: linear-gradient(#04a1e567, #244f9ec4);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 20px;
  margin-right: 50px;
}
.about-me-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  gap: 40px;
}
.about-card,
.about-card-2 {
  border: 2px solid #04a1e5da;
  padding: 30px 50px;
  text-align: center;
  background: #f0f3f7;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: inset 0 3em 3em rgba(92, 121, 141, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em #04a1e5b2;
  animation: rasing 5s ease-in-out infinite;
  animation-delay: 2s;
}
.about-card-2 {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: inset 0 3em 3em rgba(92, 121, 141, 0.1),
    0 0 0 2px rgb(255, 255, 255), -0.3em 0.3em 1em #04a1e5b2;
  animation: rasing 5s ease-in-out infinite;
  animation-delay: 2s;
}
.about-card:hover,
.about-card-2:hover {
  background: linear-gradient(#04a1e53f, #244f9eb4);
  color: #fff;
}
.about-card i,
.about-card-2 i {
  background: linear-gradient(#04a2e5, #244f9e);
  font-size: 25px;
  color: #fff;
  padding: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

/* experience-section */
.experience-section{
  padding: 0 20px;
}
.items-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
}
.fa-check {
  background: linear-gradient(#04a2e5, #244f9e);
  font-size: 14px;
  color: #fff;
  padding: 14px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 20px;
}
.box {
  border: 2px solid #04a1e5da;
  background: #f0f3f7;
  padding: 50px 60px;
  box-shadow: inset 0 -3em 3em rgba(92, 121, 141, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em #04a1e5b2;
    animation: rasing 4s ease-in-out infinite;
    animation-delay: 2s;
}
.frontend{
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.backend{
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: inset 0 3em 3em rgba(92, 121, 141, 0.1),
    0 0 0 2px rgb(255, 255, 255), -0.3em 0.3em 1em #04a1e5b2;
}
.box:hover {
  background: linear-gradient(#04a1e53f, #244f9eb4);
  color: #fff;
}
.sub-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #06648b;
}
.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.item {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* projects-section */
.projects-section{
  padding: 0 20px;
}
.projects-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 20px;
  padding-top: 30px;
}
.project-card img {
  width: 100%;
  border-radius: 20px;
}
.project-card {
  padding: 20px 20px;
  border-radius: 20px;
  text-align: center;
  background: #f0f3f7;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 0.7s ease-in-out;
}
.project-card:hover {
  transform: translateY(-20px);
  box-shadow: inset 0 -3em 3em rgba(92, 121, 141, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em #04a1e5b2;
  transition: all 0.4s ease-in-out;
}
.project-content {
  padding: 20px;
}
.p-btn {
  margin: 10px 0;
}
.fa-arrow-right{
  animation: moving 4s ease-in-out infinite;
  animation-delay: 2s;
  color: #1888b8b2;
  margin-right: 5px;
  margin-left: 5px;
}
@keyframes moving {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* hire-me-section */
.hire-me-section {
  margin: 90px 0 0;
  text-align: center;
  padding: 0px 20px 10x;
}
.hire-me-section h2 {
  margin: 10px 0 0;
}
.hire-me-section p{
  width: 70%;
  margin: 0 auto;
}
.hire-me-section button {
  margin: 20px 0;
}
.hire-me-btn {
  background: linear-gradient(#04a1e51f, #244f9e15);
  color: #fff;

}
.btn-hire{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* contact-me-section */
.contact-section {
  margin-top: 30px;
  padding: 20px;
}
.contact-section p {
  text-align: center;
  margin: 20px 0;
}
.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-nav li a {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
 
  background: #e4e8ec;
  padding: 80px 0;
  border-radius: 10px;
}
input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline-style:none;
  color: #fff;
}
.contact-btn a{
}
.contact-btn i{
  font-size: 15px;
  margin: 0 5px 0;
  animation: moving 4s ease-in-out infinite;
  animation-delay: 2s;
  color: #0b8dc5;
}
.copyright-text{
  font-size: 14px;
}